[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/vim-powerline.git
	ignore = dirty
[submodule "bundle/riv.vim"]
	path = bundle/riv.vim
	url = https://github.com/Rykka/riv.vim.git
	ignore = dirty
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/sparkup"]
	path = bundle/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "bundle/surround"]
	path = bundle/surround
	url = https://github.com/tpope/vim-surround.git
	ignore = dirty
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
	ignore = dirty
[submodule "bundle/typoscript"]
	path = bundle/typoscript
	url = git@github.com:s12r/typoscript-vim.git
	ignore = dirty
[submodule "bundle/vim-rst-tables"]
	path = bundle/vim-rst-tables
	url = https://github.com/nvie/vim-rst-tables.git
	ignore = dirty
[submodule "bundle/vimcheat"]
	path = bundle/vimcheat
	url = git@github.com:s12r/vimcheat.git
	ignore = dirty
