[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
	ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "bundle/textile.vim"]
	path = bundle/textile.vim
	url = https://github.com/timcharper/textile.vim.git
	ignore = dirty
[submodule "lib/sparkup"]
	path = lib/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
	ignore = dirty
[submodule "bundle/vimcheat"]
	path = bundle/vimcheat
	url = git@github.com:s12r/vimcheat.git
[submodule "bundle/snipmate"]
	path = bundle/snipmate
	url = https://github.com/msanders/snipmate.vim.git
	ignore = dirty
[submodule "bundle/solarized"]
	path = bundle/solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = dirty
[submodule "bundle/vimwiki"]
	path = bundle/vimwiki
	url = https://github.com/weierophinney/vimwiki.git
	ignore = dirty
[submodule "bundle/tabular"]
	path = bundle/tabular
	url = https://github.com/godlygeek/tabular.git
	ignore = dirty
[submodule "bundle/ctrlp.vim"]
	path = bundle/ctrlp.vim
	url = https://github.com/kien/ctrlp.vim.git
	ignore = dirty
