[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = http://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/fuzzyfinder"]
	path = bundle/fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
	ignore = dirty
[submodule "bundle/vim-l9"]
	path = bundle/vim-l9
	url = https://github.com/clones/vim-l9.git
	ignore = dirty
[submodule "bundle/markdown"]
	path = bundle/markdown
	url = https://github.com/plasticboy/vim-markdown.git
	ignore = dirty
[submodule "lib/sparkup"]
	path = lib/sparkup
	url = https://github.com/rstacruz/sparkup.git
	ignore = dirty
[submodule "bundle/taskpaper"]
	path = bundle/taskpaper
	url = https://github.com/davidoc/taskpaper.vim.git
	ignore = dirty
